<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zebrunner Plugin</title>
    </head>
    <body>
        <iframe src="<yourBaseUrl>/test-run-cases.html?issueKey=$!{issueKey}"></iframe>
    </body>
</html>
